

@{
    ViewData["Title"] = "AdminChangePassword";
}
@*<secure-content asp-area="" asp-controller="Security" asp-action="AdminChangePassword">*@

    <div class="card">
        <div class="card-header bg-light">

            <h4><i class="fas fa-key"></i> Change User Password</h4>
        </div>
        <div class="card-body">
            <form id="changepasswordform" asp-action="ChangeUserPassword">
                <input type="text" name="userId" id="userId" style="display:none;">

                <div class="form-group">
                    <label for="newpassword" class="bmd-label-floating">New Password</label>
                    <input type="password" class="form-control" name="newpassword" id="newpassword">
                </div>
                <div class="form-group">
                    <label for="confirmpassword" class="bmd-label-floating">Confirm Password</label>
                    <input type="password" class="form-control" name="confirmpassword" id="confirmpassword">
                </div>

                <div class="modal-footer">
                    <a class="btn btn-danger btn-raised" asp-controller="Security" asp-action="ManageUsers">Cancel</a>
                    <button type="submit" class="btn btn-primary btn-raised">Save changes</button>

                </div>
            </form>
        </div>
    </div>
    @section scripts {
        <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
        <script>
            $(document).ready(function () {
                var pageurl = window.location.href.split('/');
                $("#userId").val(pageurl[5]);

                $('#changepasswordform').validate({
                    rules: {
                        oldpassword: {
                            required: true
                        },
                        newpassword: {
                            required: true,
                            minlength: 6

                        },
                        confirmpassword: {
                            required: true,
                            equalTo: "#newpassword"
                        },
                    }
                });

            });
        </script>
        }
    @*</secure-content>*@